@model recepTour.Models.Picture

@{
    ViewData["Title"] = "Create";
}

<h1>Create a recipe</h1>

<h4>Upload a photo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Pictures" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-10">
                    <input class="form-control" name="files" type="file" id="formFile" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" formaction=@Url.Action("Create") formmethod="post" />
                <input type="submit" value="Continue without a photo" class="btn btn-primary" formaction=@Url.Action("Create") formmethod="post" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
