@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Receptour</h1>
        <p>Git repository: <a href="https://github.com/RACKILOVRO/SEMINAROBJEKTNO">Seminar objektno</a>.</p>
    </div>
