@model recepTour.Models.Recipe

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="DiffLevelId" class="control-label">Difficulty level</label>
                <select asp-for="DiffLevelId" class="form-control" asp-items="ViewBag.DiffLevelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List all recipes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
