@model IEnumerable<recepTour.Models.UserFavorite>

@{
    ViewData["Title"] = "Index";
}

<h1>Favorites</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Recipe title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipe.Title)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Recipe.Id" asp-controller="Recipes">Details</a>
                </td>
                <td>
                    <form asp-controller="UserFavorites" asp-action="Delete" asp-route-userId="@item.UserId" asp-route-recipeId="@item.RecipeId" method="post">
                        <input type="submit" value="Remove favorite" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
