@model recepTour.Models.RecipeStep

@{
    ViewData["Title"] = "Create";
}

<h1>Create a recipe</h1>

<h4>Enter recipe steps</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StepNumber" class="control-label">Step number</label>
                <input asp-for="StepNumber" class="form-control"  asp-items="ViewBag.StepNum"  style="pointer-events: none;" readonly />
                <span asp-validation-for="StepNumber" class="text-danger"></span>
            </div>
           <div class="form-group" hidden>
                <label asp-for="RecipeId" class="control-label">Recipe title</label>
                <select asp-for="RecipeId" class="form-control" asp-items="ViewBag.RecipeId"  style="pointer-events: none;" readonly></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add another step" class="btn btn-primary" formaction=@Url.Action("Create") formmethod="post" />
                <input type="submit" value="Add and continue" class="btn btn-primary" formaction=@Url.Action("Continue") formmethod="post" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="col-md-4">
        <ol id="steps">
            @if (ViewData["steps"] != null)
            {
                @foreach (var item in ViewData["steps"] as List<String>)
                {
                    <li>@item</li>
                }
            }
        </ol>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
